 @font-face {
    font-family: "Norse";
    src: url("Norse-Bold.otf");
 }
 
 body, html  {
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
    line-height: 1.5;
 }

 #separator {
    display: flex;
 }
 
 #background-image {
    width: 35vw;
    height: 100vh;
} 

#logo-container {
    display: flex;
    font-family: "Norse";
    justify-content: center;
    align-items: center;
    width: 35vw;
    height: 15vh;
    position: absolute;
    /* position: sticky; */
    top: 150px;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.5);
}

#logo-container > img {
    width: 75px;
    height: 100px;
}

#logo-container > span {
    color: white;
    position: relative;
    font-size: 10vw;
}

main {
    /* padding-left: 50px;
    padding-right: 50px; */
    /* margin-top: 60px; */
    width: 100%;
    height: 100vh;
}

section#heading {
    padding-top: 120px;
    padding-left: 50px;
    padding-right: 50px;

    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    font-size: 18px;
    font-weight: 600;
}

#form-area {
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 20px;
    /* background-color: white; */
    background-image: linear-gradient(to bottom, white, whitesmoke );
    border-radius: 5%;
}

p.input {
    display: flex;
    flex-direction: column;
}

#form-area > h1 {
    font-size: 1.4rem;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
}

p.input > input {
    width: 180px;
    border: solid 1px #E5E7EB;
    border-radius: 2%;
}

p.input > input:focus {
    box-shadow: 2px 2px black;
}

p.input > input[type=password]:invalid {
    border: solid 1px red;
}

div.right {
    display: flex;
    flex-direction: column;
}

div.left {
    display: flex;
    flex-direction: column;
}

div.left-right {
    display: flex;
    gap: 5vw;
    box-shadow: 0 2px 2px -2px black;
}

p.input > label {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.7rem;
}


.form-footer a {
    color: #596D48;
    font-weight: bold;
    text-decoration: none;
}

button#create {
    cursor: pointer;
    color: white;
    text-align: center;
    font-weight: bold;
    border: none;
    box-shadow: 1px 2px gray;
    height: 50px;
    width: 200px;
    margin-top: 20px;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 10px;
    background-color: #596D48;
}
